@import '../../assets/styles/mixins';

.searchContainer {
	display: flex;
	align-items: center;
	border-bottom: rem(2) solid #000000;
	border-radius: rem(4);
	
	&._searchActive {
		transition: width 2.5s ease;
		position: absolute;
		right: 50%;
		@include translate(50%, 0);
		width: 100%;
		max-width: rem(1210);
	}
	
}

.searchInput {
	width: 100%;
	background: transparent;
	padding: rem(7) rem(10) rem(7) rem(7);
	font-weight: 600;
	color: black;
	@include adaptive-value(font-size, 16, 14, 1);
	
	&::placeholder {
		color: black;
	}
}

.searchIcon {
	width: rem(17);
	height: rem(17);
	margin-left: rem(10);
}